body{
            font-family: Arial, sans-serif;
            font-size: 100%;
        }
        .wrapper{
            margin:8% 30% ;
            max-width:450px;
            padding: 30px;
            align-items: center;
            background: white;
            box-shadow: 0 0  10px  black;
            border-radius: 10px;
        }
        .heading{
            font-size: 35px;
            margin-left: 25%;

        }
        label{ 
            margin: 7px;
            font-weight: bold;
            font-size: 16px;
            display: block;

        }
        input{  
            width:100%;
            padding :10px;
            margin-top: 3px;
            margin-bottom: 8px;
            border:2px solid #ccc;
            border-radius:5px;

        }
        #togglePassword{
             margin-top: 5px;
            width:60px;
            background-color: #7cb7f5;
            border-radius: 5px;
             border:2px solid #ccc;
             font-weight: bold;
             margin-left:10px;
        }
        #toggleConfirmPassword{
             margin-top: 5px;
            width: 60px;
            background-color: #7cb7f5;
            border-radius: 5px;
             border:2px solid #ccc;   
             font-weight: bold;
             margin-left:10px;
        }
        #submitbutton{
            margin-top: 20px;
            width: 460px;
            background-color: #007bff;
        }
        #errors{
            color:red;
            font-size: 20px;
            margin-left:30%;
            font-weight: bold;
        }
        #success{
            color:green;
            font-size: 20px;
            margin-left:30%;
            font-weight: bold;
        }